RewriteEngine on
RewriteRule ^attacker/total/(.+)/?/([0-9-\s]+)\.txt$ stat_attacker.php?id=$1&s=$2 [L]
RewriteRule ^onhold/(.+)/?/([0-9-\s]+)\.txt$ stat_attacker_onhold.php?id=$1&s=$2 [L]
RewriteRule ^team/total/(.+)/?/([0-9-\s]+)\.txt$ stat_team.php?id=$1&s=$2 [L]
RewriteRule ^onholds/(.+)/?/([0-9-\s]+)\.txt$ stat_team_onhold.php?id=$1&s=$2 [L]
RewriteRule ^stat_attacker/([A-Za-z0-9-]+)\.txt$ ranking_attacker.php?s=$1 [L]
RewriteRule ^stat_team/([A-Za-z0-9-]+)\.txt$ ranking_team.php?s=$1 [L]
RewriteRule ^mass/(.+)/?/([0-9-\s]+)\.txt$ stat_mass.php?id=$1&s=$2 [L]
RewriteRule ^mirror/id/([A-Za-z0-9-]+)$ mirror.php?id=$1 [L]
RewriteRule ^mirror/([A-Za-z0-9-]+)\.txt$ inc/mirror.php?id=$1 [L]
RewriteRule ^special/([A-Za-z0-9-]+)\.txt$ special.php?s=$1 [L]
RewriteRule ^archive/([A-Za-z0-9-]+)\.txt$ archive.php?s=$1 [L]
RewriteRule ^onhold/([A-Za-z0-9-]+)\.txt$ onhold.php?s=$1 [L]
RewriteRule ^index\.txt$ index.php [L]
RewriteRule ^404\.txt$ 404.php [L]
RewriteRule ^notify\.txt$ notify.php [L]
RewriteRule ^notify_act\.txt$ notify_act.php [L]
RewriteRule ^contact\.txt$ report.php [L]
RewriteRule ^send\.html$ report_act.php [L]
RewriteRule ^disclaimer\.txt$ disclaimer.php [L]
ErrorDocument 404 /404.html
