RewriteEngine on
RewriteRule ^attacker_(.+)/?-([0-9-\s]+)\.html$ stat_attacker.php?id=$1&s=$2 [L]
RewriteRule ^onhold_(.+)/?-([0-9-\s]+)\.html$ stat_attacker_onhold.php?id=$1&s=$2 [L]
RewriteRule ^team_(.+)/?-([0-9-\s]+)\.html$ stat_team.php?id=$1&s=$2 [L]
RewriteRule ^onholds_(.+)/?-([0-9-\s]+)\.html$ stat_team_onhold.php?id=$1&s=$2 [L]
RewriteRule ^stat_attacker_([A-Za-z0-9-]+)\.html$ ranking_attacker.php?s=$1 [L]
RewriteRule ^stat_team_([A-Za-z0-9-]+)\.html$ ranking_team.php?s=$1 [L]
RewriteRule ^mass_(.+)/?-([0-9-\s]+)\.html$ stat_mass.php?id=$1&s=$2 [L]
RewriteRule ^mirror/([A-Za-z0-9-]+)$ mirror.php?id=$1 [L]
RewriteRule ^mirror/([A-Za-z0-9-]+)\.txt$ inc/mirror.php?id=$1 [L]
RewriteRule ^special_([A-Za-z0-9-]+)\.html$ special.php?s=$1 [L]
RewriteRule ^archive_([A-Za-z0-9-]+)\.html$ archive.php?s=$1 [L]
RewriteRule ^onhold_([A-Za-z0-9-]+)\.html$ onhold.php?s=$1 [L]
RewriteRule ^index\.html$ index.php [L]
RewriteRule ^404\.html$ 404.php [L]
RewriteRule ^notify\.html$ notify.php [L]
RewriteRule ^notify_act\.html$ notify_act.php [L]
RewriteRule ^contact\.html$ report.php [L]
RewriteRule ^send\.html$ report_act.php [L]
RewriteRule ^disclaimer\.html$ disclaimer.php [L]

